.container {
  max-width: 1340px;
  margin: auto;
  width: 100%;
}

.container_fluid {
  max-width: unset;
  width: 100%;
  margin: auto;
  /* // display: flex;
  // justify-content: center; */
  position: relative;
}
.container_fixed {
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
}

@media (min-width: 1200px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1340px;
    min-width: 1340px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container-sm {
    max-width: 540px;
  }
}
