.layout {
  max-width: 1920px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.layout .content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
}
.layout a {
  color: #12263f;
}
.layout .center {
  align-items: center !important;
}
