/* .ant-modal-content {
  border-radius: 15px !important;
} */

.ant-modal-content .ant-modal-body {
  padding: 15px;
}

/* .ant-modal-header {
  border-radius: 15px 15px 0 0 !important;
} */

.ant-modal-confirm-info .ant-modal-confirm-body > .anticon {
  color: #007bff !important;
}

.ant-input {
  color: white;
}
.ant-form-item-label {
  text-align: left;
}
.ant-modal-confirm-title {
  display: flex !important;
  margin-bottom: 15px;
}

/* .slick-track {
  width: 200px !important;
} */

.ant-collapse-header-text {
  width: 100%;
}

.ant-menu-vertical {
  border: 0 !important;
}

.slick-dots li button:before {
  font-size: 8px;
  margin: 0;
}

.slick-dots .slick-active button::before {
  color: grey !important;
}

.ant-tabs-large > .ant-tabs-nav .ant-tabs-tab {
  padding: 15px 20px;
}
.ant-modal-close {
  box-shadow: none;
}
.ant-modal-close:hover {
  box-shadow: none;
}
/* .ant-card-body {
  padding: 0;
}
.ant-tabs-tab {
  padding: 0;
}
.ant-tabs-tab + .ant-tabs-tab {
  margin: 0;
} */
.ant-form-item {
  margin-bottom: 0px;
}

@media (max-width: 575px) {
  .ant-form-item-label > label {
    height: auto;
  }
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 100%;
  padding-left: 20px;
}
.ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-search-input {
  height: 100%;
}
.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  display: flex;
  align-items: center;
}

.styles_layout__1DcnQ .styles_content__Nn1ve > div,
.styles_layout__1DcnQ .styles_content__Nn1ve section {
  margin-bottom: 0;
}

@media (max-width: 575px) {
  .ant-form .ant-form-item {
    margin-bottom: 1rem;
  }
  .ant-form-item .ant-form-item-label {
    padding: 0;
  }
  .ant-form-item-control-input {
    min-height: auto;
  }
}
.ant-input {
  color: #3e3e3e;
}

.ant-modal-header {
  background: #007bff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ant-modal-title {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}

.ant-modal-close-x {
  color: #ffffff;
  font-size: 20px;
}
button span {
  pointer-events: none;
}
