.header a {
  font-size: 14px;
}

.header .container {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

@media only screen and(max-width: 1200px) {
  .header .container {
    gap: 15px;
  }
}
@media only screen and(max-width: 768px) {
  .header .container {
    flex-wrap: wrap;
  }
}

.headerLogo {
  padding-bottom: 20px;
}
.headerLogo img {
  width: 200px;
}

@media only screen and(max-width: 1200px) {
  .headerLogo img {
    width: 150px;
  }
}

.headerNavbarTop {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.headerNavbarTop .notification .btnNotification {
  font-size: 22px;
  position: relative;
  display: block;
  border: none;
  box-shadow: none;
  padding: 0 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerNavbarTop .notification .btnNotification:hover {
  background: #d7eafc;
}
.headerNavbarTop .notification .btnNotification:hover > span {
  color: #3699ff;
}
.headerNavbarTop .notification .btnNotification > span {
  color: #909090;
}
.headerNavbarTop .notification .btnNotification > section {
  font-size: 11px;
  position: absolute;
  top: -3px;
  right: -3px;
  width: 20px;
  height: 20px;
  background: rgb(253, 118, 118);
  color: #fff;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}

.headerNavbarTop button {
  padding: 7px 15px;
  border: 1px solid #0453cc;
  color: #0453cc;
  font-weight: 600;
  background: none;
  display: flex;
  align-items: center;
}
.headerNavbarMenu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #909090c0;
}

.headerNavbarMenu ul li {
  display: block;
  position: relative;
}

.headerNavbarMenu ul li::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #0453cc;
  transform-origin: 100% 100%;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
.headerNavbarMenu ul li:hover::before {
  transform-origin: 0% 0%;
  transform: scaleX(1);
}
.headerNavbarMenu ul li article {
  padding: 15px 15px;
  font-weight: 600;
  color: #6d6c6c;
}

.headerSupport {
  padding-bottom: 20px;
}
.headerSupportWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headerSupportImage img {
  width: 40px;
}

.headerSupportPhone {
  font-size: 15px;
}

.headerSupportPhone > div {
  margin-bottom: 5px;
}
.headerSupportPhone > section {
  display: inline-block;
  font-weight: 600;
  color: #6f8ab3;
  border-bottom: 1px dashed #6f8ab3;
}
.popoverNotification {
  max-width: 350px;
  padding: 0;
}

.popoverNotification .title {
  background: #dfe3eb;
  color: rgb(2, 69, 177);
  padding: 7px 20px;
  font-weight: 600;
}

.popoverNotification a:hover {
  color: #000000;
}

.popoverNotification li {
  padding: 15px 20px;
  border-bottom: 1px solid #dfe3eb;
  transition: background 0.15s ease;
}
.popoverNotification li:hover {
  background: #ecf0f8;
}
.popoverNotification li .description {
  margin-bottom: 5px;
}
.popoverNotification .viewMore {
  padding: 7px 20px;
  text-align: center;
  transition: background 0.15s ease;
  width: 100%;
  color: rgb(2, 69, 177);
}

.popoverNotification .viewMore:hover {
  background: #ecf0f8;
}

.popoverAuth {
  padding: 20px;
  min-width: 300px;
}

.popoverAuth .title {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #6f8ab3;
}

.popoverAuth .title > label {
  font-size: 30px;
  display: flex;
  align-items: center;
  color: #33b5e5;
}
.popoverAuth .title > article span {
  font-weight: 700;
}

.popoverAuth ul {
  padding-top: 20px;
}
.popoverAuth ul > * ~ * {
  margin-top: 20px;
}

.popoverAuth ul li a {
  font-size: 17px;
}
.popoverAuth ul li a span {
  margin-right: 10px;
}

.popoverAuth ul li button {
  font-size: 17px;
  border: none;
  box-shadow: none;
  background: none;
  color: #000000;
  padding: 7px 0;
}

.popoverAuth ul li button:hover {
  color: #33b5e5;
  border: none;
  background: none;
}
.popoverAuth ul li button span {
  margin-right: 10px;
}
