.hidden {
  opacity: 0;
  transition: transform 0.5s, opacity 0.3s;
  transform: translateY(100px);
}

.scroll {
  transform: translateY(0);
  opacity: 1;
  position: fixed;
  z-index: 99;
  bottom: 10%;
  right: 0.8%;
  margin: 0 20px 20px 0;
  .groupBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    & > :not(:last-child) {
      margin-bottom: 5px;
    }
    .btn {
      border: none;
      padding: 8px 5px;
      border-radius: 5px;
      text-align: center;
      transition: ease-in-out 0.3s;

      &:hover {
        border: 1px solid white;
      }
      svg {
        stroke: white;
        fill: transparent;
      }
    }
  }
}
