.layout {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f538;
  margin: 0 auto;
}
.layout .content {
  min-height: 70vh;
}
.layout .content > div,
.layout .content section {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .layout .content > div,
  .layout section {
    margin-top: 0;
  }
}

.layout a {
  color: #12263f;
}

.layout .center {
  align-items: center !important;
}
