.item {
  .itemContent {
    font-weight: 600;
  }
  p {
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 14px;
    display: inline-block;
    width: auto;
  }
}
