html:focus-within {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  color: #12263f !important;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll !important;
  line-height: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  color: #12263f;
  font-weight: 600;
}

a {
  color: #12263f;
  width: 100%;
  font-size: 13px;
  text-decoration: unset !important;

  &:hover {
    color: #3699ff;
    cursor: pointer;
  }
}

div {
  width: auto;
  display: block;
}

p {
  width: 100%;
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
}

small {
  font-size: 12px;
}

strong {
  font-weight: 500;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

img {
  width: 100%;
  border-radius: 5px;
}
ul,
li {
  list-style: none;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 0;
}
input {
  outline: none;
  border: 1px solid #b2b2b2;
}

.ant-btn {
  height: auto;
}
.d-none {
  display: none;
}

.center {
  text-align: center;
  align-items: center;
}

.p-15 {
  padding: 15px;
}

.py-15 {
  padding: 0 15px;
}

.px-15 {
  padding: 15px 0;
}

.my-15 {
  margin: 0 15px;
}

.mx-15 {
  margin: 15px 0;
}

.m-15 {
  margin: 15px;
}

/* width */
body {
  width: 100vw !important;
  // &::-webkit-scrollbar-track {
  //   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  // }

  &::-webkit-scrollbar {
    // width: 10px;
    // background-color: #f5f5f5;
    display: none;
  }

  // &::-webkit-scrollbar-thumb {
  //   background: #b2b2b2;
  //   background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
  //   border: 1px solid #b5b5b5;
  //   border-radius: 5px;
  // }
}

.container {
  max-width: 1440px;
  margin: auto;
}

.ant-modal-wrap .ant-modal-content .ant-modal-body {
  padding: 0px;
}

.ant-modal-wrap {
  overflow-x: hidden;
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background: #b2b2b2;
    background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
    border: 1px solid #b5b5b5;
    border-radius: 5px;
  }
}

.ant-popover-inner-content {
  padding: 0;
}

.ant-card-body {
  padding: 0;
}

.ant-card-head {
  padding: 10px;
  .ant-card-head-wrapper {
    > div {
      padding: 0;
    }
  }
}
